*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(243, 235, 235);
}

/* ------Encabedazado------ */

header{
    background:rgb(221, 116, 17) ;
    padding: 5px;
    text-align: left;
    border-bottom:solid 5px black;
    position: block;
}
header h1{
     display: inline-block;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
    color: rgb(10, 10, 10);
}

/* ------lista------ */

.menu{
    display: inline-block;
    width: 75%;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;

}

ul{
    list-style: none;
    font-size: 0;
}
li{
    background-color: black;
    margin:5px;
    padding:5px;
    border-radius:10px;
    display: inline-block;
    width: 25%;
    position:relative;
    font-size:14px;
}
li a{
    color: white;
    text-decoration: none;
}

/* ------Sublista------ */

ul ul{
    position: absolute;
    display: none;
    z-index: 1;
}
ul ul li{
    display:block;
}
ul li:hover ul{
    background: gray;
    display: block;
}

/* ------FinSublista------ */

/* ------Finlista------ */

/* ------FinEncabedazado------ */

/* ------Principal------ */

main{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}
main  p{ 
    position: inline
}
.img div{
    display:block;
}

/* ------Formulario------ */

.formulario{
    display: block;
}

/* ------FinFormulario------ */

/* ------FinPrincipal------ */

/* ------PiedePagina------ */

footer{
    background-color:rgb(221, 116, 17) ;
    position:fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-bottom:solid 5px black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}

/* ------FinPiedePagina------ */